# Docker files
Dockerfile
docker-compose.yml

# Docker volumes and containers
.dockerignore

# Keep existing gitignore content
*.pyc
__pycache__
.idea/

/mrs_connectivity_perch/tests/data/
/mrs_connectivity_perch/tests/As/

/env/
/venv/
mrs_connectivity_perch.egg-info/

.env
README_dynamic_system.md
server.log
logs/
simulation_data/